.col0 {color: black;}
.col1 {color: #1d2b53;}
.col2 {color: #7e2553;}
.col3 {color: #008751;}
.col4 {color: #AB5236;}
.col5 {color: #5F574F;}
.col6 {color: #C2C3C7;}
.col7 {color: #FFF1E8;}
.col8 {color: #FF004D;}
.col9 {color: #FFA300;}
.col10 {color: #FFEC27;}
.col11 {color: #00E436;}
.col12 {color: #29ADFF;}
.col13 {color: #83769C;}
.col14 {color: #FF77A8;}
.col15 {color: #FFCCAA;}

@font-face {
    font-family: 'Pico8';
    src: url('../assets/fonts/pico8/PICO-8.eot');
    src: url('../assets/fonts/pico8/PICO-8.eot') format('embedded-opentype'),
         url('../assets/fonts/pico8/PICO-8.woff2') format('woff2'),
         url('../assets/fonts/pico8/PICO-8.woff') format('woff'),
         url('../assets/fonts/pico8/PICO-8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Pico8';
    background-color: #FFF1E8;
    color: black;
}

/* body {
    background-image: url(../assets/images/pico8bg.png);
    image-rendering: pixelated;
    image-rendering: -ms-pixelated;
    image-rendering: -moz-crisp-edges;
    background-size: 100% 100%;
} */

h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
    line-height: 1.4;
}

h2 {
    text-align: left;
    font-size: 18px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1em;
    line-height: 1.4;
}

p {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 0;
    overflow:auto
}

img {
    image-rendering: pixelated;
    image-rendering: -ms-pixelated;
    image-rendering: -moz-crisp-edges;
    border: 5px solid black;
    vertical-align: center;
    margin: auto;
}

.container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    /* width: 30%; */
}

.code-container {
    width: 30%;
    /* max-width: 600px; */
}

.code {
    color: black;
    font-size: 15px;
    font-style: normal;
    white-space: pre-line;
}

.char {
    color: #5F574F;
    font-size: 15px;
    font-style: italic;
}

.floating-btn {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#FF004D;
    color:#FFF1E8;
    border-radius:50px;
    text-align:center;
    margin: auto;
    font-size: 10px;
    box-shadow: 2px 2px 3px #7e2553;
}

.floating-btn.home {
    bottom:40px;
    background-color:#FF004D;
    color:#FFF1E8;
    box-shadow: 2px 2px 3px #7e2553;
}

.floating-btn.about {
    bottom:120px;
    background-color:#FF004D;
    color:#FFF1E8;
    box-shadow: 2px 2px 3px #7e2553;
}