* {
    font-family: 'Times New Roman', Times, serif;
    background-color: #292829;
    color: white;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
    padding-top: 2em;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
    font-style: bold;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    color: white;
    margin-top: 0;
}

p {
    margin: 2em 0;
}

img {
    width: 400em;
    max-width: 90%;
}

.icon_button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url();
    /* background-size: cover; */
}

.icon_button:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}