<div class="sidebarInner">
  <h1>Alex Locke</h1>
  <p id="alexDescription">Developer, Game designer</p>
  
  <div class="socialsContainer">
    <a href="https://github.com/alexhlocke">
      <img src="../../img/pixel icons/github3.png" class="socialsIcon darken">
    </a>
    
    <a href="https://www.linkedin.com/in/alexander-locke-795285192/">
    <img src="../../img/pixel icons/linkedin2.png" class="socialsIcon darken">
    </a>
    
    <a href="https://alexhlocke.itch.io/">
      <img src="../../img/pixel icons/itchio2.png" class="socialsIcon darken">
    </a>
  </div>

  <hr id="hrSidebar">
  <br>
    
  <ul>
    <li class="moveRight">
      <img src="../../img/pixel icons/controller.png" class="pageIcon">
      <a class="sidebarLink" href="/">Games</a>
    </li>
    
    <li class="moveRight">
      <img src="../../img/pixel icons/clipboard.png" class="pageIcon">
      <a class="sidebarLink" href="/projects.html">Projects</a>
    </li>
    
    <li class="moveRight">
      <img src="../../img/pixel icons/pen.png" class="pageIcon">
      <a class="sidebarLink" href="https://alexhlocke.itch.io/">Blog</a>
    </li>
  </ul>
</div>