:root {
    --color-dark: #1c1626;
    --color-light: #fefffb;
    --color-lesslight: #c3c1c1;
    --color-red: #ff2961;

    --color-appleblue: #1066f3;
    --color-appleorange: #ff9b29;
}

* {
    font-family: 'Helvetica', sans-serif;
}
  
html {
    height: 100%;
    width: 100%;
    /* background-color: var(--color-dark); */
    color: var(--color-light);
}

#reviewBody {
    background-color: white;
}
  
#reviewIconDiv {
    /* margin-top: 1vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#reviewIcon {
    width: 30%;
}

#reviewLabel {
    width: 50%;
}

.reviewA {
    color: var(--color-appleblue);
}

#reviewText {
    height: 70vh;
    width: 90vh;
    color: black;
}

.reviewH3 {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}

.reviewHr {
    border-top: 1px solid gray;
}

input, textarea {
    border: none;
    font-size: 16px;
}

#reviewTitleInput {
    width: 95%;
    justify-self: center;
    padding-top: 10px;
}

#reviewTextInput {
    width: 95%;
    height: 50vh;
    justify-self: center;
    padding-top: 10px;
}

#starDiv {
    display: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#starP {
    color: var(--color-appleorange);
    font-size: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}